---
title: "Publishing Linked Data Event Streams"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Andreas De Witte', 'https://github.com/dreeki', 'Ghent University' %>
- <%= person 'Pieter De Clercq', 'https://github.com/thepieterdc', 'Ghent University' %>
- <%= person 'Robin Devos', 'https://github.com/RobinDevos', 'Ghent University' %>
- <%= person 'Sieben Veldeman', 'https://github.com/sveldema', 'Ghent University' %>
- <%= person 'Harm Delva', 'https://hdelva.be', 'IDLab - Ghent University - imec' %>
- <%= person 'Dwight Van Lancker', 'https://github.com/ddvlanck', 'IDLab - Ghent University - imec' %>
- <%= person 'Pieter Colpaert', 'https://www.pietercolpaert.be', 'IDLab - Ghent University - imec' %>

{:#affiliations}
- {:#ugent} Faculty of Engineering and Architecture,
            Ghent University
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec
            
<%= section 'abstract' %>
</header>

<main>
  <%= section 'introduction' %>
  <%= section 'semanticweb' %>
  <%= section 'formatting' %>
  <%= section 'linked_data' %>
  <%= section 'versioning' %>
  <%= section 'delivery' %>
  <%= section 'caching' %>
  <%= section 'streaming' %>
  <%= section 'conclusion' %>
</main>

<footer></footer>
